@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

.form-control, .form-control[readonly], .form-control > option, select.form-control:not([size]):not([multiple]) {
  line-height: 18px;
  padding: 15px 20px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #686c86 !important;
  font-family: "Ubuntu", sans-serif;
  background: #fff;
  height: 50px;
}

.form-control + .form-control, .form-control[readonly] + .form-control, .form-control > option + .form-control, select.form-control:not([size]):not([multiple]) + .form-control {
  margin-top: 16px;
}

.form-control.placeholder, .form-control[readonly].placeholder, .form-control > option.placeholder, select.form-control:not([size]):not([multiple]).placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control:-moz-placeholder, .form-control[readonly]:-moz-placeholder, .form-control > option:-moz-placeholder, select.form-control:not([size]):not([multiple]):-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control::-moz-placeholder, .form-control[readonly]::-moz-placeholder, .form-control > option::-moz-placeholder, select.form-control:not([size]):not([multiple])::-moz-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.form-control::-webkit-input-placeholder, .form-control[readonly]::-webkit-input-placeholder, .form-control > option::-webkit-input-placeholder, select.form-control:not([size]):not([multiple])::-webkit-input-placeholder {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

select {
  text-indent: 10px;
}

label {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 8px;
  line-height: 1;
}

.d-none {
  display: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-red {
  color: color(red);
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
}

.home-header .main-nav {
  display: block;
  background: transparent !important;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
  color: #011739;
  margin-top: 0;
  padding-top: 0;
  border-bottom: 1px solid #d2d8e1;
}

.home-header .main-nav .site-brand {
  cursor: pointer;
  padding: 0;
}

@media (max-width: 576px) {
  .home-header .main-nav .site-brand {
    margin-top: 0px;
  }
}

.home-header .main-nav .navbar-toggler {
  background-color: white !important;
  border-color: white !important;
}

.home-header .main-nav .navbar-nav .nav-link {
  color: #011739 !important;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 28.5px 10px 28.5px 10px;
  position: relative;
}

.home-header .main-nav .nav-item:hover .nav-link, .home-header .main-nav .nav-item.active .nav-link {
  color: #fe5b60 !important;
}

.home-header .main-nav .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.home-header .main-nav .nav-item.dropdown .dropdown-toggle i {
  margin: 0 5px;
}

.home-header .main-nav .nav-item.dropdown .dropdown-menu {
  margin-top: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: end;
}

.home-header .main-nav .nav-item.dropdown .dropdown-menu :hover {
  color: #fe5b60 !important;
}

.footer {
  border-top: 1px solid #d2d8e1;
  color: #011739;
}

.footer .border-foot-div {
  background: #d2d8e1;
  width: 100%;
  height: 1px;
  margin: 5px 15px;
}

.footer .footer-navigation {
  text-align: center;
}

@media (max-width: 576px) {
  .footer .footer-navigation {
    text-align: center;
  }
}

.footer .footer-navigation li a {
  text-decoration: none;
  color: #011739;
  padding: .3rem 0rem;
  font-weight: 500;
  font-size: 14px;
}

.footer .footer-navigation li:nth-child(1) a {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .footer .footer-navigation li:nth-child(1) a {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=style.css.map */